<form cdkDragHandle>
    <h1 mat-dialog-title>
        <mat-icon>dns</mat-icon>
        Server Monitor</h1>
    <div mat-dialog-content>
        <div class="modal-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm col-sm-12">
                        <div class="form-group">
                            <mat-label>NS1</mat-label><input type="checkbox" id="cbox1" value="first_checkbox">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-sm-12">
                        <div class="form-group">
                            <mat-label>NS2</mat-label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-sm-12">
                        <div class="form-group">
                            <mat-label>CA</mat-label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-sm-12">
                        <div class="form-group">
                            <mat-label>AUTH</mat-label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-sm-12">
                        <div class="form-group">
                            <mat-label>CAMQ</mat-label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-sm-12">
                        <div class="form-group">
                            <mat-label>SGBD</mat-label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-sm-12">
                        <div class="form-group">
                            <mat-label>LDAP</mat-label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-sm-12">
                        <div class="form-group">
                            <mat-label>SCHEMA</mat-label>
                        </div>
                    </div>
                </div>
                <button mat-button mat-dialog-close class="btn ">Close</button>
            </div>
        </div>
    </div>
</form>